.LaundryMain {
  min-height: 100vh;
  background: #cab7ff;
  border: 10px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; */
}
.set-gird-LaundryMain-page {
  box-sizing: border-box;
  padding: 5% 2% 5% 5%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  justify-content: center;
}
/* .set-flex-LaundryMain-page {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
} */
@media (max-width: 1420px) {
  .set-gird-LaundryMain-page {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}
@media (max-width: 944px) {
  .set-gird-LaundryMain-page {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
}
@media (max-width: 500px) {
  .set-flex-LaundryMain-page {
    justify-content: flex-start;
    overflow-x: scroll;
  }
  .set-gird-LaundryMain-page::-webkit-scrollbar {
    height: 0.5em;
  }
  .set-gird-LaundryMain-page::-webkit-scrollbar-track {
    background-color: #000000;
  }
  .set-gird-LaundryMain-page::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(
      45deg,
      #00ffb2 0%,
      #4200ff 58.85%,
      #fe6e6e 100%
    );
  }
}
